name: Run python1 script

on:
  workflow_dispatch: {}

jobs:
  run-python1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Run python1 script
        run: python ./githubDevOps/actionsToAzure/python1.py
